/* The Main Wrapper */
.modal-content {
  /* background: #ffffff; */
  //background: var(--card-background);

  height: 100%;
  padding: 25px;
  color: var(--text-color);
  /* Making it scrollable if screens are small */
  overflow-y: auto;
  --webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* 1. Header Styles */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.date-title {
  font-size: 22px;
  font-weight: 800;

  //color: var(--text-color); // Commented during dynamic UI theming change
  color: #1a1a1a
}

.weather-modal-icon{
  width:60px;
  height: 60px;
  object-fit: contain;
}

.close-icon {

  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  /* Fallback shadow for very bright weather types */
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
  background: rgba(0, 0, 0, 0.1);
  //color: #1a1a1a;

  &:active {
    transform: scale(0.9);
    background: rgba(0, 0, 0, 0.4);
  }

}


/* Main Temp */
.main-temp-section {
  text-align: center;
  margin-bottom: 40px;

  .big-icon {
    font-size: 80px; /* Bigger impact */
    margin-bottom: 10px;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.1)); /* Subtle shadow on emoji */
  }

  .temp-text {
    font-size: 50px;
    font-weight: 800;

    letter-spacing: -1px;
    //color: var(--text-color); // Commented during dynamic UI theming change
    color: #1a1a1a
  }

  .desc-text {
    font-size: 25px;
    font-weight: 500;
    //color: var(--secondary-text); // Commented during dynamic UI theming change
    color: #1a1a1a;
  }
}

/* Ensure the temperature text is dark enough on the yellow background */
.weather-clear .temp-text {
  color: #333;
}

/* 3. Grid Layout for Details */
.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 Columns */
  gap: 15px;
}

.detail-item {
  background: var(--detail-box-bg); /* Light Grey BG */
  border-radius: 20px;
  padding: 20px 10px;
  text-align: center;

  .item-icon {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .label {
    font-size: 13px;
    color: var(--text-secondary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
  }

  .value {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);

    .unit {
      font-size: 14px;
      font-weight: 400;
      color: var(--text-tertiary);
    }
  }

}
