/******************* Common font variables ****************/
$font10: 1.0rem;
$font12: 1.2rem;
$font13: 1.3rem;
$font14: 1.4rem;
$font15: 1.5rem;
$font16: 1.6rem;
$font17: 1.7rem;
$font18: 1.8rem;
$font19: 1.9rem;
$font20: 2rem;
$font22: 2.2rem;
$font24: 2.4rem;
$font26: 2.6rem;
$font28: 2.8rem;
$font29: 2.9rem;
$font30: 3.0rem;
$font31: 3.1rem;
$font32: 3.2rem;
$font33: 3.3rem;
$font34: 3.4rem;
$font35: 3.5rem;
$font36: 3.6rem;
$font37: 3.7rem;
$font38: 3.8rem;
$font39: 3.9rem;
$font40: 4.0rem;
$font41: 4.1rem;
$font42: 4.2rem;
$font43: 4.3rem;
$font44: 4.4rem;
$font45: 4.5rem;

/******************* Common font variables ****************/
$font-weight-normal:300;
$font-weight-medium:500;
$font-weight-bold:600;


/******************** Color Variables ********************/
$blackColor: #000;
$whiteColor: #FFF;
$backgroundColor: #FFFFFF;
$primaryColor: #4A90E2; //For Header,buttons
$secondaryColor: #F5A623; //Accents
$textColor: #333333; // For the text to be easier on the eyes
$cardBackground: #F0F4F8; //(Very pale blue-grey)
$borderColor: #DDDDDD;
$headerBgColor: #DCDCDC;
$primaryTitleColor: #5c5959;

/************** Common mixin for font *******************/
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$file-path}.otf') format('truetype'),
        url('#{$file-path}.svg##{$font-family}') format('svg');
        font-weight: $font-weight;
        font-style: $font-style;
    }
    // Chrome for Windows rEndering font-face
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @font-face {
            font-family: $font-family;
            src: url('#{$file-path}.svg##{$font-family}') format('svg');
        }
    }
}



/******************Common media queries for all platform*********************************/
@mixin screen1440 {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin screen1024 {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin screen900 {
    @media (min-width: 900px) {
        @content;
    }
}

/************** Screen resolution mixin for 10 inch tab *******************/
@mixin screen800 {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin screenmax800 {
    @media (max-width: 800px) {
        @content;
    }
}

/************** Screen resolution mixin for iPad *******************/
@mixin screen768 {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin screenmax768 {
    @media (max-width: 768px) {
        @content;
    }
}

/************** Screen resolution mixin for tablet *******************/
@mixin screen600 {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin screenmax600 {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin screen411 {
    @media (min-width: 411px) {
        @content;
    }
}

@mixin screen480 {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin screen185 {
    @media (max-width: 185px) {
        @content;
    }
}

/************** Screen resolution mixin for iPhone 6 Plus *******************/
@mixin screen414 {
    @media (min-width: 414px) {
        @content;
    }
}

@mixin screenmax414 {
    @media (max-width: 414px) {
        @content;
    }
}

/************** Screen resolution mixin for iPhone 6S *******************/
@mixin screen375 {
    @media (min-width: 375px) {
        @content;
    }
}

@mixin screenmax375 {
    @media (max-width: 375px) {
        @content;
    }
}

@mixin screen360 {
    @media (min-width: 360px) {
        @content;
    }
}

@mixin screenmax360 {
    @media (max-width: 360px) {
        @content;
    }
}

@mixin screen320 {
    @media (max-width: 320px) {
        @content;
    }
}

@mixin iPhone7Plus {
    @media screen and (max-width: 1080px), screen and (max-height: 1920px) {
        @content;
    }
}

@mixin iPhone6 {
    @media screen and (max-width: 750px), screen and (max-height: 1334px) {
        @content;
    }
}

@mixin iPhone6Plus {
    @media screen and (max-width: 414px), screen and (max-height: 736px) {
        @content;
    }
}
/************** Screen resolution mixin for iPhoneX*******************/
@mixin iPhoneX{
	@media screen and (max-width: 375px), screen and (max-height: 812px) {
        @content;
    }
}

@mixin screen812{
	@media (min-height: 812px) {
        @content;
    }
}

@mixin screen896{
	@media (min-height: 896px) {
        @content;
    }
}

@mixin screen768-1024 {
    @media screen and (min-width: 768px), screen and (min-height: 1024px) {
        @content;
    }
}

@mixin screen800-1280 {
    @media screen and (min-width: 800px), screen and (min-height: 1280px) {
        @content;
    }
}


/***************** Mixin for border radius *******************/
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/***************** Mixin for box shadow *******************/
@mixin boxShadow($x, $y, $blur, $spread, $color) {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow: $x $y $blur $spread $color;
    -ms-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}


/***************** Common classes *******************/
.display-none {
    display: none !important;
}

/*********************Override input default style***************************************/

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    -webkit-box-shadow: transparent !important;
    box-shadow: none !important;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: transparent !important;
    -webkit-box-shadow: transparent !important;
    box-shadow: none !important;
}

.list-md.item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom-color: $borderColor !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: $borderColor !important;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: $borderColor !important;
    box-shadow: none !important;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: $borderColor !important;
    box-shadow: none !important;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 1px solid transparent !important;
}


/************** Override Ios(apple) devices styling ***********/
.platform-ios {
	body{
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  .toolbar-footer{
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
  }
  .list-ios>.item-block:first-child {
      border-top: 0;
  }

	.common-btn {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &:active {
      box-shadow: 0 3x 3px rgba(0, 0, 0, 0.14), 0 3px 5px rgba(0, 0, 0, 0.21), 0 0 0 0 transparent;
      background-color: #ef3c43;
  }
	}
  }

.platform-ios .ios ion-nav>.ion-page>ion-header>.toolbar.statusbar-padding:first-child ion-title {
    min-height: calc(30px + 20px) !important;
    padding-top: 0px;
}

.ios ion-nav>.ion-page>ion-header>.toolbar.statusbar-padding:first-child {
	@media only screen and (min-width : 375px) {
	}

  @media screen and (max-width: 375px) and (-webkit-device-pixel-ratio : 3) {
	}

}


/************** Header gradient gray color style ***********/
.header-gradient{
	background: #dcdcdc;
	background: -moz-linear-gradient(top, #dcdcdc 0%, #FFFFFF 85%, #FFFFFF 100%);
	background: -webkit-linear-gradient(top, #dcdcdc 0%, #FFFFFF 85%, #FFFFFF 100%);
	background: linear-gradient(to bottom, #dcdcdc 0%, #FFFFFF 85%, #FFFFFF 100%);
}//End of header-gradient


/************** Common title style ***********/
.common-title-style{
	text-align: center;
	color: $primaryColor;
	font-size: $font18;
	font-weight: 400;
}//End of common-title-style

/************** Common border bottom class ***********/
.border-bottom{
	border-bottom: 1px solid #dedede;
}

/************** Common Header style ***********/

ion-header.common-header {
	/************* Override header title ios style ***********/
  .toolbar-background-ios {
      border: 0px !important;
  }
  .toolbar-background {
      background-color: $headerBgColor;
  }
  .bar-button-default-ios {
      color: #424242;
  }
  .button-md:hover:not(.disable-hover) {
      background-color: transparent;
  }

  /************* Button click and hover effect ***********/
    .button:active {
      background-color: transparent !important;
      opacity: 0.5;
  }

  /************* Override style of ion navbar ***********/
  ion-navbar {
      min-height: 46px;
  }


  /************** Assign value to the position left property ***********/
  .left {
      left: 0;
  }//End of left

  /************** Assign value to the position right property ***********/
  .right {
      right: 0;
  }//End of right

  /************** Sub title style ***********/
  .sub-title {
      @extend .header-gradient;
      padding-bottom: 10px;
      .toolbar-title {
        @extend .common-title-style;
          font-size: $font18;
      }//End of toolbar-title
  }//End of sub-title

  /************** Border bottom for header style ***********/
  .header-border-bottom {
      @extend .border-bottom;
  }//End of header-border-bottom

  .no-title-padding {
    .toolbar-title {
      padding: 0px;
    }
  }

  /************** Override ios style ***********/
  .toolbar-ios ion-title {
      padding: 0px !important;
      min-height: calc(30px + 20px) !important;
      height: calc(30px + 20px) !important;
      padding-top: 0px !important;
  }
}


/************** Override default back button style ***********/
.back-button.show-back-button{
	display:none;
}


/*************** Define the pulse keyframes ************/
@keyframes pulse-shimmer {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
  }
  50% {
    transform: scale(1.15); /* Slightly enlarge */
    opacity: 0.8;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6)); /* Create glow */
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
  }
}

/* Apply the animation class */
.pulse-animation {
  animation: pulse-shimmer 2s infinite ease-in-out; /* Loop infinitely */
}

/* Animation to slide up and fade in */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px); /* Start 20px lower */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

.fade-in-up {
  animation: fadeInUp 0.35s cubic-bezier(0.25, 0.8, 0.25, 1) forwards; /* 'forwards' keeps the final state */
}


