// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
@use "../theme/common.scss";

:root {
  /* Background color */
  --ion-background-color: #ffffff;
  --ion-text-color: #333333;

  /* Primary Color (Sky Blue) */
  --ion-color-primary: $4a90e2;
  --ion-color-primary-rgb: 74, 144, 226;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #417fc7;
  --ion-color-primary-tint: #5c9be5;

  /* Secondary Color (Sun Yellow) */
  --ion-color-secondary: #f5a623;
  --ion-color-secondary-rgb: 245, 166, 35;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
}
