<ion-app>
  <ion-menu content-id="main-content" type="overlay" menuId="main-menu" [disabled]="false">
    <ion-header class="ion-no-border" >
      <ion-toolbar class="menu-header-toolbar">
        <ion-title class="app-name-info">
          SETTING
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content no-bounce>


      <ion-list lines="none" class="menu-list-container">
        <ion-menu-toggle auto-hide="false">
          <ion-item button (click)="navigateHome()" detail="false">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <div class="menu-divider"></div>


        <ion-item>
            <ion-icon slot="start"
              [name]="(unitService.isDarkThemeOn | async) ? 'moon' : 'sunny-outline'"
              [color]="(unitService.isDarkThemeOn | async) ? 'light' : 'dark'">
            </ion-icon>
            <ion-label>Dark Mode</ion-label>

            <ion-toggle slot="end"  [checked]="unitService.isDarkThemeOn | async" (ionChange)="unitService.toggleTheme()">

            </ion-toggle>

        </ion-item>

        <div class="menu-divider"></div>

        <ion-menu-toggle auto-hide="false">
          <ion-item button (click)="requestNotifications()">
            <ion-icon slot="start" name="notifications-outline"></ion-icon>

            <ion-label>Notifications</ion-label>

            <ion-toggle slot="end"
            [(ngModel)]="notificationsEnabled"
            (ionChange)="toggleNotifications($event)">

            </ion-toggle>
          </ion-item>
        </ion-menu-toggle>

        <div class="menu-divider"></div>

        <ion-menu-toggle auto-hide="false">
          <ion-item button routerLink="/radar">
            <ion-icon slot="start" name="map-outline"></ion-icon>
            <ion-label>Weather Radar</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <div class="menu-divider"></div>

        <ion-item button (click)="changeLanguage()" detail="false">
          <ion-icon slot="start" name="globe-outline"></ion-icon>
          <ion-label>Languages</ion-label>
        </ion-item>

        <!--- DEVELOPER SECTION CODE-->

        <ion-list-header class="developer-header">
          <ion-label>DEVELOPER SECTION</ion-label>
        </ion-list-header>

        <ion-item button (click)="openPrivacy()" detail="false">
          <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
          <ion-label>Privacy Policy</ion-label>
        </ion-item>

        <div class="menu-divider"></div>

        <ion-item button (click)="reportProblem()" detail="false">
          <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
          <ion-label>Report problem</ion-label>
        </ion-item>

        <div class="menu-divider"></div>

        <ion-item button (click)="rateApp()" detail="false">
          <ion-icon slot="start" name="star-outline"></ion-icon>
          <ion-label>Rate Us</ion-label>
        </ion-item>


        </ion-list>


    </ion-content>
  </ion-menu>

  <div id="main-content" class="ion-page">
    <ion-router-outlet></ion-router-outlet>

    @if (!offlineService.isOnline()) {
      <div class="offline-banner slide-in-top">
        <ion-icon name="cloud-offline-outline"></ion-icon>
        <span>No Internet Connection</span>
      </div>
    }
  </div>
</ion-app>
