@import '../../../theme/common.scss';



ion-content {
  --background: #eef1f5;
}

/* 1. Custom Header Styles */
.custom-header {
  background-color: #4A90E2; /* Weather Blue */
  height: 200px; /* Height for the background block */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 50px 24px 0; /* Top padding pushes text down */
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 24px;
  font-weight: 700;
}

/* 2. Main Card Styles */
.main-card {
  background: white;
  width: 90%;
  margin: -90px auto 0; /* NEGATIVE MARGIN: Pulls card up over header */
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  z-index: 10;

  /* The requested Box Shadow */
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.city-name {
  font-size: 28px;
  color: #333333;
  margin-bottom: 10px;
  font-weight: 500;
}

.temp-container {
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.main-icon {
  font-size: 40px;
  font-weight:800;
}

/* 3. Forecast List Styles */
.forecast-section {
  padding: 30px 20px;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  padding-left: 5px;
}

.list-header{
  padding-left:0px;
}


.forecast-day-label{
  margin:0px !important;
}

.forecast-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
}

.text-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

  /*---------------------------Common list styling ----------------------*/
  .common-list{
    padding: 10px;
    .common-list-item{
      background-color: $whiteColor;
      border-bottom: 1px solid #e0e0e0;
      display: flex;
      padding:10px;
  } //End of common-list-item
  }//End of common-list
