<ion-content [fullscreen]="true" class="ion-no-padding">


  <div class="custom-header" [class.short-header]="favoritesService.favorites().length === 0">
    <div class="header-content">
      <div class="app-title">WeatherCast</div>

      <!--Temperature toggle button from celsius to fahrenheir and vice-versa-->
      <app-unit-toggle></app-unit-toggle>

    </div>

    <app-weather-search (citySearchEvent)="loadWeather($event)"></app-weather-search>

    <!-- horizontal scroll to show users favorites list of saved cities -->
    @if (favoritesService.favorites().length > 0) {
      <div class="favorites-scroll-container">
        @for (city of favoritesService.favorites(); track city) {

          <ion-chip (click)="loadWeather(city)" [outline]="true" class="fav-chip">
            <ion-label>{{ city }}</ion-label>
            <ion-icon name="close-circle" (click)="favoritesService.toggleFavorite(city); $event.stopPropagation()"></ion-icon>
          </ion-chip>

        }
      </div>
    }@else{

    }

  </div>

  <!-- Angular if condition to handle loading check-->
  @if (isLoading) {

    <!-- Show a skeleton card to show data will be filled after successful api response-->
    <div class="skeleton-card">
      <div class="skeleton-line title-line"></div>
      <div class="skeleton-circle"></div>
      <div class="skeleton-line temp-line"></div>
      <div class="skeleton-line desc-line"></div>
    </div>

    <div class="skeleton-list">
      @for (item of [1,2,3,4,5]; track $index) {
        <div class="skeleton-row">
          <div class="skeleton-box sm-box"></div>
          <div class="skeleton-box md-box"></div>
          <div class="skeleton-box lg-box"></div>
        </div>
      }
    </div>

  }@else{

    <!--Error message validation logic -->

    @if (errorMsg) {
      <div class="error-container ion-padding ion-text-center">
        <div class="error-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="#ef4444" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M22.61 16.95A5 5 0 0 0 18 10h-1.26a8 8 0 0 0-7.05-6M5 22h14a5 5 0 0 0 .17-9.98"></path>
            <line x1="6" y1="6" x2="6" y2="6"></line>
            <line x1="10" y1="2" x2="10" y2="2"></line>
          </svg>
        </div>

        <h3 class="error-title">Oops!</h3>
        <p class="error-text">{{ errorMsg }}</p>

        <div class="retry-btn" (click)="loadWeather('Pune')">
          Get Your Current Weather
        </div>
      </div>
    } @else {

      <!-- Show users location data current-->
      @if(weatherData){
        <div class="main-card">
          <div class="city-header-row">
            <div class="city-name">
                {{ weatherData.name }}
            </div>

          <!--Option to have the city added to users favorites -->
          <ion-icon
            [name]="favoritesService.isFavorite(weatherData.name) ? 'heart' : 'heart-outline'"
            (click)="favoritesService.toggleFavorite(weatherData.name)"
            class="favorites-icon">
          </ion-icon>

        </div>

        <div class="temp-container">
          <div class="weather-row">
              <img [src]="(weatherData.weather[0]?.main || '') | weatherIcon" class="weather-icon-lg" alt="weather icon">

              <div class="main-temp">{{ weatherData.main.temp | temperaturePipe : unitService.unit() }}</div>
          </div>

            <div class="current-temp">
              {{ weatherData.weather[0]?.description | titlecase }}
            </div>
        </div>

        </div>
      }

      <!--show the users location forecast for next 5 days-->
      @if(weatherData && forecastData.length > 0){
          <div class="forecast-section ion-padding-top">
            <div class="list-header">
              <ion-label class="section-title">Weekly Forecast (Midday)</ion-label>
            </div>

            <!-- Forecast wrapper without using ion-list-->
            <div class="forecast-wrapper">
              <ion-grid class="common-list">
                @for (day of forecastData; track day.dt; let first = $first; let last =$last)  {
                  <ion-row class="common-list-item ripple-row"
                    [class.first-forecast-row]="first"
                    [class.last-forecast-row]="last"
                    (click)="openDetails(day)" >

                    <!---Column to show required day-->
                    <ion-col col-3 class="forecast-col">
                        <p class="forecast-day-label">{{ day.dt * 1000 | date: 'EEE' | uppercase }}</p>
                    </ion-col>

                    <!---Column to show required weather icon-->
                    <ion-col col-2 class="forecast-col">
                      <img [src]="day.weather[0]?.main | weatherIcon" class="forecast-icon">
                    </ion-col>

                    <!---Column to show min and max temperature values-->
                    <ion-col col-2 class="forecast-col">
                      <div style="font-size: 13px; color: #666; font-weight: 600;">
                        Max. &nbsp;{{ day.main.temp_max | temperaturePipe : unitService.unit() }}
                      </div>
                      <div style="font-size: 13px; color: #666;">
                        Min. &nbsp;{{ day.main.temp_min | temperaturePipe : unitService.unit() }}
                      </div>
                    </ion-col>

                    <!---Column to give description of the forecast-->
                    <ion-col col-5 class="forecast-col">
                      <ion-note style="font-size: 14px; color: #888;">
                        {{ day.weather[0].description | titlecase }}
                      </ion-note>
                    </ion-col>

                  </ion-row>
                }

              </ion-grid>
            </div>

          </div>
      }@else{

      }

    }


  }

</ion-content>
