ion-content {
  --background: #eef1f5;
}

/* 1. Custom Header Styles */
.custom-header {
  background-color: #4A90E2; /* Weather Blue */
  height: 200px; /* Height for the background block */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 50px 24px 0; /* Top padding pushes text down */
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 24px;
  font-weight: 700;
}

/* 2. Main Card Styles */
.main-card {
  background: white;
  width: 90%;
  margin: -90px auto 0; /* NEGATIVE MARGIN: Pulls card up over header */
  padding: 24px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  z-index: 10;

  /* The requested Box Shadow */
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.city-name {
  font-size: 28px;
  color: #333333;
  margin-bottom: 10px;
  font-weight: 500;
}

.temp-container {
  // display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}

.main-icon {
  font-size: 40px;
  font-weight:800;
}

.current-temp {
  font-size: 30px;
  color: #888;
  font-weight:lighter;
}

.condition-text {
  color: #666;
  font-size: 16px;
}

/* 3. Forecast List Styles */
.forecast-section {
  padding: 30px 20px;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  padding-left: 5px;
}

.custom-list {
  background: transparent;
  padding: 0px !important;
  border-bottom: 2px solid #dedede;
}

.forecast-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.list-header{
  padding-left:0px;
}

.list-md{
  padding-bottom: 0px !important;
  border-radius: 20px;
}//End of list-md

/* Column Widths for List Alignment */
.col-day {
  width: 50px;
  font-weight: 600;
  color: #555;
  font-size: 15px;
}

.col-icon {
  width: 40px;
  text-align: center;
  font-size: 20px;
}

.col-temp {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  color: #666;
  padding-left: 15px;
}

.col-desc {
  text-align: right;
  font-size: 14px;
  color: #888;
  width: 110px;
}


